@charset "UTF-8";

/* Tablet */
@media (min-width: 768px) {
    /* ========== Inicio do estilo global ========== */
    a{
        font-size: 1.1rem;
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.6rem;
    }

    h3{
        font-size: 1.39rem;
    }

    p{
        font-size: 1.1rem;
    }
    /* ========== Fim do estilo global ========== */


    /* ========== Inicio do menu ========== */
    #container-menu{
        align-items: center;
        justify-content: space-around;
        gap: var(--gap-spacing-5);
        min-height: 100px;
    }

    .logo-img img{
        max-width: 75px;
    }

    p.globe, p.glo{
        font-size: 1.7rem;
    }

    p.jorn, p.jo{
        font-size: 1.3rem;
    }

    #btn-menu{
        display: none;
    }

    .bt-me{
        display: none;
    }

    .menu{
        display: block;
    }

    .menu ul{
        display: flex;
        flex-flow: row wrap;
    }

    .menu li{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu a{
        padding: var(--padding-spacing-1);
        border: none;
    }

    a.borda{
        border: none;
    }

    a.btn-destino{
        width: 100%;
        max-width: 300px;
        padding: var(--padding-spacing-10);
    }
    /* ========== Fim do menu ========== */


    /* ========== Inicio do conteudo da pagina inicio ========== */
    .jornada h1{
        display: block;
        max-width: 450px;
    }

    .jornada p{
        max-width: 600px;
    }

   .cards-timeline {
        grid-template-columns: minmax(0, 400px) 30px minmax(0, 400px);
        max-width: 1000px;
        justify-content: center;
        gap: var(--gap-spacing-7);
        padding: var(--padding-spacing-14);
    }

    .cards-timeline::before {
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
    }

    .evento-marcador {
        grid-column: 2;
        justify-self: center;
    }

    .evento {
        margin: auto 0;
        max-width: 400px;
        min-height: 200px;
        background-color: var(--cor-branca);
    }

    .evento-img {
        display: none;
    }

    .eve-img {
        display: block;
        width: 100%;
        max-width: 400px;
        overflow: hidden;
        border-radius: var(--radius-3);
        background-color: var(--cor-preta);
        box-shadow: var(--shadow-5);
    }

    .eve-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .85;
    }

    .cards-timeline > :nth-child(1) {
        grid-row: 1;
    }

    .cards-timeline > :nth-child(2) {
        grid-column: 1;
        grid-row: 1;
    }

    .cards-timeline > :nth-child(3) {
        grid-column: 3;
        grid-row: 1;
    }

    .cards-timeline > :nth-child(4) {
        grid-row: 2;
    }

    .cards-timeline > :nth-child(5) {
        grid-column: 1;
        grid-row: 2;
    }

    .cards-timeline > :nth-child(6) {
        grid-column: 3;
        grid-row: 2;
    }

    .cards-timeline > :nth-child(7) {
        grid-column: 1;
        grid-row: 3;
    }

    .cards-timeline > :nth-child(8) {
        grid-row: 3;
    }

    .cards-timeline > :nth-child(9) {
        grid-column: 3;
        grid-row: 3;
    }

    .cards-timeline > :nth-child(10) {
        grid-column: 3;
        grid-row: 4;
    }

    .cards-timeline > :nth-child(11) {
        grid-row: 4;
    }

    .cards-timeline > :nth-child(12) {
        grid-column: 1;
        grid-row: 4;
    }

    .cards-timeline > :nth-child(13) {
        grid-row: 5;
    }

    .cards-timeline > :nth-child(14) {
        grid-column: 3;
        grid-row: 5;
    }

    .cards-timeline > :nth-child(15) {
        grid-column: 1;
        grid-row: 5;
    }
    /* ========== Fim do conteudo da pagina inicio ========== */


    /* ========== Inicio do conteudo da pagina destinos ========== */
    #container-destino{
        margin: var(--margin-spacing-17);
    }

    .carrossel-filtro{
        width: 100vw;
    }

    .filtros summary {
        display: none;
    }

    .filtros {
        max-width: 98%;
        display: flex;
        justify-content: center;
        background: none;
        box-shadow: none;
    }

    .opc-filtro {
        width: 95vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: var(--gap-spacing-5);
        margin: 0;
    }

    .btn-filtro{
        background-color: var(--cor-branca);
        box-shadow: var(--shadow-1);
        color: var(--cor-txt);
        max-width: 200px;
        padding: var(--padding-spacing-9);
        margin: 0;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .btn-filtro:hover{
        background-color: var(--cor-filtro);
    }

    .card{
        width: 100%;
        height: 500px;
    }
    /* ========== Fim do conteudo da pagina destinos ========== */


    /* ========== Inicio do rodape da pagina ========== */
    .rodape{
        justify-content: space-around;
    }

    .oferta{
        max-width: 500px;
        flex: 0 0 100%;
    }

    #iemail{
        max-width: 400px;
    }

    .btn-enviar{
        max-width: 220px;
    }
    /* ========== Fim do rodape da pagina ========== */
}

/* Computador */
@media (min-width: 1035px) {
    /* ========== Inicio do estilo global ========== */
    h1{
        font-size: 2.2rem;
        font-weight: 800;
    }

    h3{
        font-size: 1.4rem;
    }

    p,a{
        font-size: 1.09rem;
    }
    /* ========== Fim do estilo global ========== */


    /* ========== Inicio do menu ========== */
    .logo{
        max-width: 350px;
    }

    p.globe, p.glo{
        font-size: 2rem;
    }

    p.jorn, p.jo{
        font-size: 1.5rem;
    }

    .logo-img img{
        max-width: 80px;
    }

    .menu a{
        transition: transform .3s, color .3s;
        cursor: pointer;
    }

    .menu a:hover{
        transform: translateY(-5px);
    }

    .menu a:active{
        transform: translateY(5px);
    }

    .menu a:focus-visible{
        outline: var(--outline-primaria);
        outline-offset: var(--outline-offset-1);
        border-radius: var(--radius-1);
        transform: translateY(-5px);
    }

    a.ativ{
        transform: translateY(5px);
    }

    a.ativ:hover{
        transform: translateY(5px);
    }

    a.btn-destino{
        cursor: pointer;
        transition: box-shadow .3s, background-color .3s, transform .3s;
    }

    a.btn-destino:hover{
        box-shadow: var(--shadow-9);
        background-color: var(--cor-primaria);
    }

    a.btn-destino:active{
        box-shadow: none;
        background-color: var(--cor-primaria-hover);
    }
    /* ========== Fim do menu ========== */


    /* ========== Inicio do conteudo da pagina inicio ========== */
    #container-conteudo{
        width: 100%;
        max-width: 1800px;
        flex-flow: row;
        align-items: flex-start;
        margin: var(--margin-spacing-10);
    }

    .viagem{
        display: block;
        margin: auto;
        height: 350px;
    }

    .jornada{
        flex: 2;
    }

    .jornada h1{
        max-width: 500px;
    }

    .jornada p{
        margin: auto;
    }

    .anos{
        margin: var(--margin-spacing-20);
        background-color: transparent;
        box-shadow: none;
    }

    .timeline{
        flex: 3;
    }

    .evento{
        min-height: 170px;
    }

    /* ---------- Inicio do botão destinos ---------- */
    .btn-des a{
        transition: box-shadow .3s, background-color .3s, transform .3s;
        box-shadow: var(--shadow-7);
        cursor: pointer;
    }

    .btn-des a:hover{
        box-shadow: var(--shadow-10);
        background-color: var(--cor-primaria);
        transform: translateY(-5px) ;
    }

    .btn-des a:active{
        box-shadow: none;
        background-color: var(--cor-primaria-hover);
        transform: translateY(5px) ;
    }

    .btn-des :focus-visible{
        outline: var(--outline-primaria);
        outline-offset: var(--outline-offset-1);
        transform: translateY(-5px);
    }
    /* ---------- Fim do botão destinos ---------- */

    /* ---------- Inicio da voltar ao topo ---------- */
    .topo{
        cursor: pointer;
        transition: background-color .3s;
    }

    .topo:hover{
        background-color: var(--cor-secundaria);
    }

    .topo:focus-visible{
        outline: var(--outline-secundaria);
        outline-offset: var(--outline-offset-1);
        background-color: var(--cor-secundaria);
    }
    /* ---------- Fim da voltar ao topo ---------- */
    /* ========== Fim do conteudo da pagina inicio ========== */


    /* ========== Inicio do conteudo da pagina destinos ========== */
    .carrossel-filtro{
        max-width: 1800px;
        min-height: 1000px;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .filtro{
        flex: 2;
    }

    .carrossel{
        gap: 0;
        margin: 0;
        flex: 3;
    }

    .opc-filtro{
        padding: var(--padding-spacing-1);
        justify-content: left;
        gap: var(--gap-spacing-3);
        width: 650px;
    }

    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .seta{
        display: none;
    }

    .btn-filtro{
        cursor: pointer;
    }

    .btn-filtro:focus-visible{
        outline: var(--outline-primaria);
        outline-offset: var(--outline-offset-1);
        background-color: var(--cor-vidro-hover);
    }

    .card{
        transition: transform .3s, border .3s;
        border: var(--border-transpa);
    }

    .card:hover{
        transform: translateY(-3px);
        border: var(--border-secund);
    }

    .like button{
        cursor: pointer;
    }

    .like button:focus-visible{
        outline: var(--outline-primaria-hover);
        outline-offset: var(--outline-offset-1);
    }

    .lista {
        cursor: pointer;
    }

    .lista:hover{
        transform: none;
        box-shadow: none;
    }

    .lista:active{
        transform: translateY(3px) scale(.95);
        box-shadow: none;
    }

    .lista:focus-visible{
        outline: var(--outline-secundaria);
        outline-offset: var(--outline-offset-1);
        transform: translateY(3px) scale(.95);
        box-shadow: none;
    }

    .mapa{
        display: block;
        margin: var(--margin-spacing-8);
    }

    .mundo{
        max-width: 450px;
        margin: var(--margin-spacing-1);
        display: flex;
        align-items: center;
        gap: var(--gap-spacing-3);
    }

    .mundo p{
        font-size: 1.2rem;
    }

    .mundo img{
        border-radius: var(--radius-7);
        max-width: 80px;
        padding: var(--padding-spacing-1);
        border-left: var(--border-prima-especial);
        border-top: var(--border-especial);
        border-bottom: var(--border-especial);
        
    }
    /* ========== Fim do conteudo da pagina destinos ========== */
    

    /* ========== Inicio do rodape da pagina ========== */
    .rodape{
        margin: var(--margin-spacing-21);
        max-width: 1800px;
        justify-content: space-around;
    }

    .logo-rodape{
        flex: 1;
        max-width: 430px;
    }

    .roda-logo{
        max-width: 350px;
    }

    .logo-rod{
        margin: 0;
    }

    .redes a{
        cursor: pointer;
    }

    .redes a:hover{
        transform: none;
    }

    .redes a:active{
        transform: translateY(5px) scale(.90);
    }

    .redes a:focus-visible{
        outline: var(--outline-fundo);
        outline-offset: var(--outline-offset-2);
        transform: translateY(5px) scale(.90);
    }

    .navega li{
        margin: var(--margin-spacing-7);
        padding: 0;
    }

    .navega a{
        padding: 0;
        cursor: pointer;
        transition: color .4s;
    }

    .navega a:hover{
        color: var(--cor-branca);
    }

    .navega a:focus-visible{
        outline: var(--outline-fundo);
        outline-offset: var(--outline-offset-1);
        transform: translateY(5px) scale(.90);
        color: var(--cor-branca);
        border-radius: var(--radius-1);
    }

    .oferta{
        margin: 0;
    }

    .btn-enviar{
        cursor: pointer;
    }

    .btn-enviar:hover{
        transform: none;
        background-color: var(--cor-primaria);
    }

    .btn-enviar:active{
        transform: translateY(5px) scale(.90);
        background-color: var(--cor-primaria-hover);
    }
    
    .btn-enviar:focus-visible{
        outline: var(--outline-fundo);
        outline-offset: var(--outline-offset-2);
        transform: translateY(5px) scale(.90);
        background-color: var(--cor-primaria-hover);
    }
    /* ========== Fim do rodape da pagina ========== */
}