@charset "UTF-8";
@import url('variables.css');

/* ========== Inicio do estilo global ========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid re;
}

a{
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.1rem;
    font-weight: 600;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
}

ul{
    list-style: none;
}

h1{
    font-size: 1.9rem;
    font-weight: 900;
}

h1, h2, h3{
    font-family: var(--fonte-titulo);
    color: var(--cor-texto);
}

p{
    font-size: 1.1rem;
    color: var(--cor-txt);
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-texto);
}

#container-conteudo{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}
/* ========== Fim do estilo global ========== */

/* ========== Inicio do menu ========== */
#container-menu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 10px;
    gap: 10px;
    background-color: var(--cor-branca);
    border-bottom: 1px solid var(--cor-borda);
}

.logo{
    width: 100%;
    max-width: 220px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 3;
}

.logo-txt p{
    color: var(--cor-secundaria);
    font-family: var(--fonte-titulo);
}

.logo-img img{
    max-width: 65px;
}

p.globe, p.glo{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 800;
}

.globe span{
    color: var(--cor-primaria);
}

p.jorn, p.jo{
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 1.1rem;
}

.bt-me{
    display: flex;
    justify-content: right;
    flex: 1;
}

#btn-menu{
    display: inline-block;
    width: 100%;
    max-width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 1;
    font-weight: 500;
    color: var(--cor-primaria);
    border: none;
    background-color: transparent;
    border-radius: 50px;
    margin: 5px 5px 0px 0px;
    transition: all .7s ease;
}

#btn-menu.ativo{
    border-radius: 10px;
    transform: rotate(360deg);
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    max-width: 45px;
    height: 45px;
    font-size: 35px;
}

.menu{
    display: none;
}

.menu.aberto{
    text-align: center;
    display: inline-block;
    flex:0 0 100%;
    width: 100%;
}

.menu ul{
    display: flex;
    gap: 10px;
    flex-flow: column wrap;
}

.menu li{
    display: flex;
}

.menu a{
    border-top: 1px solid var(--cor-borda);
    width: 100%;
    padding: 10px;
    color: var(--cor-texto);
    transition: color .2s;
    cursor: pointer;
}

.menu a:active{
    color: var(--cor-primaria);
}

a.borda{
    padding: 15px 0;
    border-bottom: 1px solid var(--cor-borda);
}

a.btn-destino{
    border: none;
    margin: 10px auto;
    max-width: 90%;
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    border-radius: 10px;
    padding: 16px 6px;
    box-shadow: 5px 5px 10px #0000003f;
    transition: transform .1s, background-color .1s, box-shadow .1s;
    cursor: pointer;
}

a.ativ{
    color: var(--cor-primaria);
}

a.btn-destino:active{
    transform: translateY(5px) scale(.90);
    background-color: var(--cor-primaria-hover);
    box-shadow: none;
    color: var(--cor-branca);
}
/* ========== Fim do menu ========== */


/* ========== Inicio do conteudo da pagina inicio ========== */
.jornada h1{
    max-width: 240px;
    display: flex;
    margin: 10px auto;
    flex-flow: column;
    letter-spacing: 1px;
}

.jornada h1 > span{
    color: var(--cor-primaria);
}

.anos{
    margin: auto;
    max-width: 350px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    background-color: var(--cor-branca);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000023;
    padding: 10px;
    gap: 10px;
}

.anos-img {
    border-radius: 50%;
    padding: 10px;
    border-right: 3px solid var(--cor-primaria);
    border-top: 2px dashed var(--cor-primaria);
    border-bottom: 2px dashed var(--cor-primaria);
}
.anos-img img{
    border-radius: 50%;
    max-width: 64px;
}

.anos-txt p{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 600;
}

.anos-txt span{
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    font-weight: 900;
}

/* ---------- Inicio da timeline ---------- */
.timeline{
    position: relative;
    width: 100%;
    padding: 5px;
}

.cards-timeline{
    position: relative;
    display: grid;
    grid-template-columns: 24px minmax(0, 300px);
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    max-width: 450px;
}

.cards-timeline::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 10px;
    width: 4px;
    background-image: linear-gradient(to bottom, var(--cor-primaria), var(--cor-secundaria), var(--cor-primaria), var(--cor-secundaria), var(--cor-primaria));
    border-radius: 60%;
}

.evento{
    grid-column: 2;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    background-color: var(--cor-branca);
    box-shadow: 5px 5px 10px #0000001f;
    border: 1px solid var(--cor-borda);
}

.evento-marcador {
    grid-column: 1;
    align-self: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--cor-branca);
    border: 5px solid var(--cor-borda);
    z-index: 2;
}

.evento-txt{
    padding: 10px;
    font-weight: 500;
}

.evento-txt span{
    color: var(--cor-primaria);
    font-weight: 700;
    font-size: 1.5rem;
}

.evento-txt h2{
    margin: 10px 0;
    font-size: 1.6rem;
    font-weight: 800;
}

.evento-img{
    width: 100%;
    background-color: #000000;
    border-radius: 0 0 8px 8px;
}

.evento-img img{
    width: 100%;
    border-radius: 0 0 8px 8px;
    opacity: .8;
}

/* ---------- Inicio do botão destinos ---------- */
.btn-des a{
    margin: 50px auto;
    max-width: 300px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    border-radius: 15px;
    transition: background-color .1s, transform .1s;
}

.btn-des a:active{
    background-color: var(--cor-primaria-hover);
    transform: translateY(5px) scale(.90);
}

.btn-des img{
    transform: rotate(45deg);
    max-width: 40px;
}
/* ---------- Fim do botão destinos ---------- */
/* ---------- Fim da timeline ---------- */

/* ---------- Inicio da voltar ao topo ---------- */
.topo {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 15px;
    bottom: 50px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    font-size: 1.8rem;
    line-height: 1;
    color: var(--cor-branca);
    background-color: #0f766da6;
    cursor: pointer;
}

.topo img{
    max-width: 25px;
}
/* ---------- Fim da voltar ao topo ---------- */
/* ========== Fim do conteudo da pagina inicio ========== */


/* ========== Inicio do conteudo da pagina destinos ========== */
.dest{
    margin-top: 10px;
}
.dest span{
    color: var(--cor-primaria);
}

.carrossel-filtro{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.filtros{
    width: 100%;
    max-width: 350px;
    background: linear-gradient(120deg, #F97316 5%, #E69A72 15%, #C9B18C 25%,#6D9991 40%, #0F766E 100%);
    padding: 8px;
    box-shadow: 0px 0px 10px #0000002c;
    border-radius: 8px;
    margin: auto;
}

.filtros summary {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: var(--fonte-texto);
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--cor-branca);
}

.filtros summary::-webkit-details-marker {
    display: none;
}

.filtros summary::after {
    color: var(--cor-branca);
    content: "+";
    display: inline-block;
    margin-right: 5px;
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 1;
}

.filtros[open] summary::after {
    content: "-";
}

.opc-filtro{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-filtro{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    background-color: #ffffff33;
    font-family: var(--fonte-texto);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px;
    color: var(--cor-branca);
    border: 2px solid #ffffff4d;
    border-radius: 10px;
    transition: background-color .1s;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-filtro:active{
    background-color: #ffffff4d;
}

.carrossel{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px 20px 0;
}

.janelas{
    width: 100%;
    overflow: hidden;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card{
    width: 100%;
    max-width: 350px;
    background-color: var(--cor-branca);
    box-shadow: 0px 0px 10px #0000004f;
    border-radius: 20px;
}

.ilustracao{
    width: 100%;
    min-height: 200px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #00000031;
}

.card-img{
    position: relative;
}

.like{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
}

.like button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 15px;
    border: none;
    background-color: var(--cor-branca);
    box-shadow: 0px 0px 10px #00000048;
}

.like img{
    max-width: 35px;
}

.inform{
    padding: 15px;
}

.inform h2{
    font-weight: 700;
    font-size: 1.7rem;
}

.inform p{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
    line-height: 1.3;
}

p.estrelas span{
    color: #ffcc00;
    font-size: 1.6rem;
    font-weight: 600;
}

p.estrelas {
    font-size: 1rem;
    margin-bottom: 10px;
}

p.cat{
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
}

p.cat-verde{
    color: rgb(13, 182, 13);
}

p.cat-laran{
    color: var(--cor-primaria);
}

.lista{
    display: block;
   
    width: 100%;
    max-width: 90%;
    margin: 20px auto 5px auto;
    padding: 16px 8px;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--cor-secundaria);
    font-family: var(--fonte-texto);
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-secundaria);
    box-shadow: 5px 5px 10px #0f766d3a;
    border-radius: 10px;
    transition: transform .2s, box-shadow .2s;
}

.lista:active{
    transform: translateY(5px) scale(.90);
    box-shadow: none;
}
/* ========== Fim do conteudo da pagina destinos ========== */


/* ========== Inicio do rodape da pagina ========== */
footer{
    width: 100%;
    background-color: var(--cor-fundo-rodape);
    border-top: 2px solid var(--cor-borda);
    padding: 15px;
}

footer h3 {
    color: var(--cor-branca);
    margin-bottom: 10px;
}

footer a, footer p{
    color: var(--cor-texto-rodape);
}

.rodape {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.logo-rodape{
    flex: 0 0 100%;
}

.roda-logo{
    margin: auto;
    max-width: 360px;
}

.logo-rod{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0 5px 0;
}

.logo-rod-txt p{
    font-family: var(--fonte-titulo);
    color: var(--cor-branca);
    
}

.glo span{
    color: var(--cor-primaria);
}

.redes{
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.redes li{
    display: flex;
    border-radius: 50%;
}

.redes a{
    border-radius: 50%;
    padding: 10px;
    border: 2px solid var(--cor-branca);
    cursor: pointer;
    transition: transform .2s;
}

.redes a:active{
    transform: translateY(5px) scale(.90);
}

.redes img{
    max-width: 35px;
}

.navega li{
    margin: 5px 0;
    padding: 5px 5px 5px 0px;
}

.navega a{
    padding: 5px 5px 5px 0px;
    width: 100%;
}

.oferta{
    max-width: 400px;
    margin: auto;
  
}

.oferta h3, .oferta p{
    text-align: center;
}

.oferta p{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#iemail{
    color: var(--cor-branca);
    width: 100%;
    padding: 10px 5px 5px 5px;
    max-width: 350px;
    font-size: 1.14rem;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 5px;
    border-bottom: 2px solid var(--cor-branca);
    background-color: var(--cor-txt);
    transition: border .5s, background-color .5s, border-radius .5s;
}

#iemail:focus{
    outline: none;
    border: 2px solid var(--cor-branca);
    background-color: var(--cor-fundo-input);
    border-radius: 8px;
}

input::placeholder{
    color: var(--cor-texto-rodape);
}

.btn-enviar{
    width: 100%;
    max-width: 180px;
    border: none;
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 15px;
    letter-spacing: 2px;
    transition: transform .3s, background-color .3s;
}

.btn-enviar:active{
    transform: translateY(5px) scale(.90);
    background-color: var(--cor-primaria-hover);
}

.rodape-copy{
    margin: 30px 0 10px 0;
    text-align: center;
    border-top: 2px solid var(--cor-borda);
}

.rodape-copy p{
    color: var(--cor-branca);
    margin-top: 15px;
}
/* ========== Fim do rodape da pagina ========== */