@charset "UTF-8";
@import url('variables.css');

/* ========== Inicio do estilo global ========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.1rem;
    font-weight: 600;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
}

ul{
    list-style: none;
}

h1{
    font-size: 1.9rem;
    font-weight: 900;
}

h1, h2, h3{
    font-family: var(--fonte-titulo);
    color: var(--cor-texto);
}

p{
    font-size: 1.1rem;
    color: var(--cor-txt);
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-texto);
}
/* ========== Fim do estilo global ========== */

/* ========== Inicio do menu ========== */
#container-menu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: var(--padding-spacing-4);
    gap: var(--gap-spacing-3);
    background-color: var(--cor-branca);
    border-bottom: var(--border-principal);
    min-height: 80px;
}

.logo{
    width: 100%;
    max-width: 220px;
    display: flex;
    align-items: center;
    gap: var(--gap-spacing-1);
    flex: 3;
}

.logo-txt p{
    color: var(--cor-secundaria);
    font-family: var(--fonte-titulo);
}

.logo-img img{
    max-width: 65px;
}

p.globe, p.glo{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 800;
}

.globe span{
    color: var(--cor-primaria);
}

p.jorn, p.jo{
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 1.1rem;
}

.bt-me{
    display: flex;
    justify-content: right;
    flex: 1;
}

#btn-menu{
    display: inline-block;
    width: 100%;
    max-width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 1;
    font-weight: 500;
    color: var(--cor-primaria);
    border: none;
    background-color: transparent;
    border-radius: var(--radius-6);
    margin: var(--margin-spacing-12);
    transition: all .7s ease;
}

#btn-menu.ativo{
    border-radius: var(--radius-3);
    transform: rotate(360deg);
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    max-width: 45px;
    height: 45px;
    font-size: 35px;
}

.menu{
    display: none;
}

.menu.aberto{
    text-align: center;
    display: inline-block;
    flex:0 0 100%;
    width: 100%;
}

.menu ul{
    display: flex;
    gap: var(--gap-spacing-3);
    flex-flow: column wrap;
}

.menu li{
    display: flex;
}

.menu a{
    border-top: var(--border-principal);
    width: 100%;
    padding: var(--padding-spacing-4);
    color: var(--cor-texto);
    transition: color .2s;
}

.menu a:hover{
    color: var(--cor-primaria);
}

a.borda{
    padding: var(--padding-spacing-11);
    border-bottom: var(--border-principal);
}

a.btn-destino{
    border: none;
    margin: var(--margin-spacing-9);
    max-width: 90%;
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    border-radius: var(--radius-3);
    padding: var(--padding-spacing-12);
    box-shadow: var(--shadow-6);
    transition: transform .1s, background-color .1s, box-shadow .1s;
}

a.ativ{
    color: var(--cor-primaria);
}

a.btn-destino:hover{
    transform: translateY(5px) scale(.90);
    background-color: var(--cor-primaria-hover);
    box-shadow: none;
    color: var(--cor-branca);
}
/* ========== Fim do menu ========== */


/* ========== Inicio do conteudo da pagina inicio ========== */
#container-conteudo{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap-spacing-6);
    padding: var(--padding-spacing-4);
}

.jornada h1{
    max-width: 240px;
    display: flex;
    margin: var(--margin-spacing-9);
    flex-flow: column;
    letter-spacing: 1px;
}

.jornada h1 > span{
    color: var(--cor-primaria);
}

.viagem{
    display: none;
}

.anos{
    margin: var(--margin-spacing-21);
    max-width: 350px;
    display: flex;
    align-items: center;
    background-color: var(--cor-branca);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-1);
    padding: var(--padding-spacing-4);
    gap: var(--gap-spacing-3);
}

.anos-img {
    border-radius: var(--radius-7);
    padding: var(--padding-spacing-4);
    border-right: var(--border-prima-especial);
    border-top: var(--border-especial);
    border-bottom: var(--border-especial);
}

.anos-img img{
    border-radius: var(--radius-7);
    max-width: 64px;
}

.anos-txt p{
    display: flex;
    flex-direction: column;
    gap: var(--gap-spacing-2);
    font-weight: 600;
}

.anos-txt span{
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    font-weight: 900;
}

/* ---------- Inicio da timeline ---------- */
.timeline{
    position: relative;
    width: 100%;
    padding: var(--padding-spacing-1);
}

.cards-timeline{
    position: relative;
    display: grid;
    grid-template-columns: 24px minmax(0, 300px);
    justify-content: space-between;
    gap: var(--gap-spacing-6);
    width: 100%;
    max-width: 450px;
}

.cards-timeline::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 10px;
    width: 4px;
    background-image: linear-gradient(to bottom, var(--cor-primaria), var(--cor-secundaria), var(--cor-primaria), var(--cor-secundaria), var(--cor-primaria));
    border-radius: var(--radius-8);
}

.evento{
    grid-column: 2;
    width: 100%;
    max-width: 300px;
    border-radius: var(--radius-3);
    background-color: var(--cor-branca);
    box-shadow: var(--shadow-5);
    border: var(--border-principal);
}

.evento-marcador {
    grid-column: 1;
    align-self: center;
    width: 25px;
    height: 25px;
    border-radius: var(--radius-7);
    background-color: var(--cor-branca);
    border: var(--border-borda);
    z-index: 2;
}

.evento-txt{
    padding: var(--padding-spacing-4);
    font-weight: 500;
}

.evento-txt span{
    color: var(--cor-primaria);
    font-weight: 700;
    font-size: 1.5rem;
}

.evento-txt h2{
    margin: var(--margin-spacing-7);
    font-size: 1.6rem;
    font-weight: 800;
}

.evento-img{
    width: 100%;
    background-color: var(--cor-preta);
    border-radius: var(--radius-9);
}

.evento-img img{
    width: 100%;
    border-radius: var(--radius-9);
    opacity: .8;
}

/* ---------- Inicio do botão destinos ---------- */
.btn-des a{
    margin: var(--margin-spacing-11);
    max-width: 300px;
    padding: var(--padding-spacing-8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-spacing-1);
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    border-radius: var(--radius-4);
    transition: background-color .1s, transform .1s;
}

.btn-des a:hover{
    background-color: var(--cor-primaria-hover);
    transform: translateY(5px) scale(.90);
}

.btn-des img{
    transform: rotate(45deg);
    max-width: 40px;
}

.eve-img{
    display: none;
}
/* ---------- Fim do botão destinos ---------- */
/* ---------- Fim da timeline ---------- */

/* ---------- Inicio da voltar ao topo ---------- */
.topo {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 15px;
    bottom: 50px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: var(--radius-7);
    font-size: 1.8rem;
    line-height: 1;
    color: var(--cor-branca);
    background-color: var(--cor-topo);
}

.topo img{
    max-width: 25px;
}
/* ---------- Fim da voltar ao topo ---------- */
/* ========== Fim do conteudo da pagina inicio ========== */


/* ========== Inicio do conteudo da pagina destinos ========== */
#container-destino{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap-spacing-6);
}

.dest{
    text-align: center;
    margin: var(--margin-spacing-15);
}

.dest span{
    color: var(--cor-primaria);
}

.carrossel-filtro{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: var(--gap-spacing-5);
}

.filtros{
    width: 100%;
    max-width: 350px;
    background: var(--degrade-praia);
    padding: var(--padding-spacing-3);
    box-shadow: var(--shadow-1);
    border-radius: var(--radius-2);
    margin: 0 auto;
}

.filtros summary {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: var(--fonte-texto);
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--cor-branca);
}

.filtros summary::-webkit-details-marker {
    display: none;
}

.filtros summary::after {
    color: var(--cor-branca);
    content: "+";
    display: inline-block;
    margin-right: var(--margin-spacing-1);
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 1;
}

.filtros[open] summary::after {
    content: "-";
}

.opc-filtro {
    width: 100%;
    max-width: 100%;
    margin: var(--margin-spacing-7);
    display: flex;
    flex-direction: column;
    gap: var(--gap-spacing-4);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .5s ease, transform .5s ease;
}

.filtros[open] .opc-filtro {
    opacity: 1;
    transform: translateY(0);
}

.btn-filtro{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    background-color: var(--cor-vidro);
    font-family: var(--fonte-texto);
    font-size: 1.1rem;
    font-weight: 500;
    padding: var(--padding-spacing-4);
    color: var(--cor-branca);
    border: var(--border-filtro);
    border-radius: var(--radius-3);
    transition: background-color .1s;
    box-shadow: var(--shadow-3);
}

.btn-filtro:hover{
    background-color: var(--cor-vidro-hover);
}

.carrossel{
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gap-spacing-1);
    margin: var(--margin-spacing-14);
}

.seta{
    background-image: var(--degrade-botao);
    border: none;
    width: 40px;
    min-height: 550px;
    color: var(--cor-branca);
    font-size: 2.2rem;
}

.janela{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    min-height: 520px;
    padding: var(--padding-spacing-4);
}

.cards {
    width: 100%;
    display: flex;
    gap: var(--gap-spacing-5);
    transition: transform .9s ease;
}

.card{
    width: 92%;
    max-width: 350px;
    background-color: var(--cor-branca);
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-5);
    flex-shrink: 0;
}

.badge{
    position: relative;
}

.badge::before{
    position: absolute;
    color: var(--cor-branca);
    font-size: 1rem;
    border-radius: var(--radius-1);
    padding: var(--padding-spacing-7);
    top: 10px;
    left: 10px;
    letter-spacing: 1px;
    z-index: 1;
}

.visitados::before{
    content: 'Mais visitados';
    background-color: var(--cor-primaria);
}

.especial::before{
    content: 'Oferta especial';
    background-color: var(--cor-especial);
}

.ilustracao{
    width: 100%;
    height: 200px;
    border-radius: var(--radius-5);
    box-shadow: var(--shadow-4);
    object-fit: cover;
}

.card-img{
    position: relative;
}

.like{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
}

.like button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-spacing-2);
    border-radius: var(--radius-4);
    border: none;
    background-color: var(--cor-branca);
    box-shadow: var(--shadow-2);
}

.like img{
    max-width: 35px;
}

.inform{
    padding: var(--padding-spacing-6);
}

.inform h2{
    font-weight: 800;
    font-size: 1.5rem;
}

.inform p{
    font-size: 1.2rem;
    font-weight: 500;
    margin: var(--margin-spacing-7);
    line-height: 1.3;
}

p.estrelas span{
    color: var(--cor-estrelas);
    font-size: 1.6rem;
    font-weight: 600;
}

p.estrelas {
    font-size: 1rem;
    margin-bottom: var(--margin-spacing-2);
}

p.cat{
    margin: var(--margin-spacing-6);
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
}

p.cat-verde{
    color: var(--cor-especial);
}

p.cat-laran{
    color: var(--cor-primaria);
}

.lista{
    display: block;
    width: 100%;
    margin: var(--margin-spacing-19);
    padding: var(--padding-spacing-13);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--cor-secundaria);
    font-family: var(--fonte-texto);
    background-color: var(--cor-fundo);
    border: var(--border-secundaria);
    box-shadow: var(--shadow-8);
    border-radius: var(--radius-3);
    transition: transform .2s, box-shadow .2s;
}

.lista:hover{
    transform: translateY(5px) scale(.90);
    box-shadow: none;
}

.mapa{
    display: none;
}

.mundo{
    display: none;
}
/* ========== Fim do conteudo da pagina destinos ========== */


/* ========== Inicio do rodape da pagina ========== */
footer{
    width: 100%;
    background-color: var(--cor-fundo-rodape);
    border-top: var(--border-princi);
    padding: var(--padding-spacing-6);
}

footer h3 {
    color: var(--cor-branca);
    margin-bottom: var(--margin-spacing-2);
}

footer a, footer p{
    color: var(--cor-texto-rodape);
}

.rodape {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--gap-spacing-6);
}

.logo-rodape{
    flex: 0 0 100%;
}

.roda-logo{
    margin: auto;
    max-width: 360px;
}

.logo-rod{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-spacing-3);
    margin: var(--margin-spacing-13);
}

.logo-rod-txt p{
    font-family: var(--fonte-titulo);
    color: var(--cor-branca);
}

.glo span{
    color: var(--cor-primaria);
}

.redes{
    margin: var(--margin-spacing-16);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.redes li{
    display: flex;
    border-radius: var(--radius-7);
}

.redes a{
    border-radius: var(--radius-7);
    padding: var(--padding-spacing-4);
    border: var(--border-branca);
    transition: transform .2s;
}

.redes a:hover{
    transform: translateY(5px) scale(.90);
}

.redes img{
    max-width: 35px;
}

.navega li{
    margin: var(--margin-spacing-5);
    padding: var(--padding-spacing-15);
}

.navega a{
    padding: var(--padding-spacing-15);
    width: 100%;
}

.oferta{
    max-width: 400px;
    margin: auto;
}

.oferta h3, .oferta p{
    text-align: center;
}

.oferta p{
    margin-bottom: var(--margin-spacing-4);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-spacing-5);
}

#iemail{
    color: var(--cor-branca);
    width: 100%;
    padding: var(--padding-spacing-16);
    max-width: 350px;
    font-size: 1.14rem;
    font-weight: 500;
    border: var(--border-transparete);
    border-radius: var(--radius-1);
    border-bottom: var(--border-branca);
    background-color: var(--cor-txt);
    transition: border .5s, background-color .5s, border-radius .5s;
}

#iemail:focus{
    outline: none;
    border: var(--border-branca);
    background-color: var(--cor-fundo-input);
    border-radius: var(--radius-2);
}

input::placeholder{
    color: var(--cor-texto-rodape);
}

.btn-enviar{
    width: 100%;
    max-width: 180px;
    border: none;
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    padding: var(--padding-spacing-5);
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: var(--radius-4);
    letter-spacing: 2px;
    transition: transform .3s, background-color .3s;
}

.btn-enviar:hover{
    transform: translateY(5px) scale(.90);
    background-color: var(--cor-primaria-hover);
}

.rodape-copy{
    margin: var(--margin-spacing-18);
    text-align: center;
    border-top: var(--border-princi);
}

.rodape-copy p{
    color: var(--cor-branca);
    margin-top: var(--margin-spacing-3);
}
/* ========== Fim do rodape da pagina ========== */